---
# 1-Perkenalan

Bayu Pramana Putra, Batch 008

Objectives:

- Regression

Dataset: Millitary Expenses

---
# 2-Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import PolynomialFeatures

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import ridge_regression

from feature_engine.outliers import Winsorizer
from sklearn.metrics import classification_report

---

# 3-Data Loading

In [2]:
df0 = pd.read_csv('MillitaryExpenses.csv')
pd.set_option('max_columns', None)

df0

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,Land area (sq. km),AG.LND.TOTL.K2,NaN,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,NaN,NaN
1,Afghanistan,AFG,Land area (sq. km),AG.LND.TOTL.K2,NaN,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,NaN,NaN
2,Angola,AGO,Land area (sq. km),AG.LND.TOTL.K2,NaN,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,NaN,NaN
3,Albania,ALB,Land area (sq. km),AG.LND.TOTL.K2,NaN,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,NaN,NaN
4,Andorra,AND,Land area (sq. km),AG.LND.TOTL.K2,NaN,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Land area (sq. km),AG.LND.TOTL.K2,NaN,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,10887.0,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Land area (sq. km),AG.LND.TOTL.K2,NaN,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,527970.0,NaN,NaN
261,South Africa,ZAF,Land area (sq. km),AG.LND.TOTL.K2,NaN,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,NaN,NaN
262,Zambia,ZMB,Land area (sq. km),AG.LND.TOTL.K2,NaN,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,743390.0,NaN,NaN
263,Zimbabwe,ZWE,Land area (sq. km),AG.LND.TOTL.K2,NaN,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,386850.0,NaN,NaN

In [3]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 65 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            0 non-null      float64
 5   1961            255 non-null    float64
 6   1962            255 non-null    float64
 7   1963            255 non-null    float64
 8   1964            255 non-null    float64
 9   1965            255 non-null    float64
 10  1966            255 non-null    float64
 11  1967            255 non-null    float64
 12  1968            255 non-null    float64
 13  1969            255 non-null    float64
 14  1970            255 non-null    float64
 15  1971            255 non-null    float64
 16  1972            255 non-null    float64
 17  1973            255 non-null    float64
 18  1974            255 non-null    float64
 19  1975            255 non-null    float64
 20  1976            255 non-null    float64
 21  1977            255 non-null    float64
 22  1978            255 non-null    float64
 23  1979            255 non-null    float64
 24  1980            255 non-null    float64
 25  1981            255 non-null    float64
 26  1982            255 non-null    float64
 27  1983            255 non-null    float64
 28  1984            255 non-null    float64
 29  1985            255 non-null    float64
 30  1986            255 non-null    float64
 31  1987            255 non-null    float64
 32  1988            255 non-null    float64
 33  1989            255 non-null    float64
 34  1990            255 non-null    float64
 35  1991            259 non-null    float64
 36  1992            259 non-null    float64
 37  1993            259 non-null    float64
 38  1994            259 non-null    float64
 39  1995            259 non-null    float64
 40  1996            259 non-null    float64
 41  1997            259 non-null    float64
 42  1998            259 non-null    float64
 43  1999            259 non-null    float64
 44  2000            261 non-null    float64
 45  2001            261 non-null    float64
 46  2002            261 non-null    float64
 47  2003            261 non-null    float64
 48  2004            261 non-null    float64
 49  2005            261 non-null    float64
 50  2006            261 non-null    float64
 51  2007            261 non-null    float64
 52  2008            261 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            261 non-null    float64
 56  2012            261 non-null    float64
 57  2013            261 non-null    float64
 58  2014            261 non-null    float64
 59  2015            261 non-null    float64
 60  2016            261 non-null    float64
 61  2017            261 non-null    float64
 62  2018            256 non-null    float64
 63  2019            0 non-null      float64
 64  Unnamed: 64     0 non-null      float64
dtypes: float64(61), object(4)
memory usage: 134.2+ KB

In [4]:
df0.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              264
                 ...
2016                3
2017                3
2018                8
2019              264
Unnamed: 64       264
Length: 65, dtype: int64

---
# 4-Exploratory Data Analysis (EDA)

In [5]:
df0.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
count,0.0,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.560000e+02,0.0,0.0
mean,NaN,5.120041e+06,5.120040e+06,5.120041e+06,5.120041e+06,5.120040e+06,5.120040e+06,5.120040e+06,5.120040e+06,5.120040e+06,5.120039e+06,5.120039e+06,5.120037e+06,5.120033e+06,5.120009e+06,5.119988e+06,5.119980e+06,5.119977e+06,5.119977e+06,5.119976e+06,5.119968e+06,5.119969e+06,5.119964e+06,5.119963e+06,5.119928e+06,5.119925e+06,5.119928e+06,5.119926e+06,5.119925e+06,5.119875e+06,5.119875e+06,5.040882e+06,5.040884e+06,5.040727e+06,5.040149e+06,5.040022e+06,5.040006e+06,5.041094e+06,5.039990e+06,5.040279e+06,5.001811e+06,5.001764e+06,5.001664e+06,5.001653e+06,5.001563e+06,5.001559e+06,5.001395e+06,5.001386e+06,5.000989e+06,5.000889e+06,5.000971e+06,5.000996e+06,5.000887e+06,5.000861e+06,5.000807e+06,5.000790e+06,5.001030e+06,5.001030e+06,5.098187e+06,NaN,NaN
std,NaN,1.501581e+07,1.501581e+07,1.501581e+07,1.501581e+07,1.501581e+07,1.501581e+07,1.501581e+07,1.501581e+07,1.501581e+07,1.501580e+07,1.501580e+07,1.501580e+07,1.501579e+07,1.501574e+07,1.501570e+07,1.501567e+07,1.501567e+07,1.501567e+07,1.501566e+07,1.501565e+07,1.501565e+07,1.501564e+07,1.501564e+07,1.501555e+07,1.501554e+07,1.501555e+07,1.501554e+07,1.501554e+07,1.501539e+07,1.501539e+07,1.491215e+07,1.491215e+07,1.491158e+07,1.491002e+07,1.490956e+07,1.490950e+07,1.491264e+07,1.490891e+07,1.490997e+07,1.485801e+07,1.485786e+07,1.485755e+07,1.485751e+07,1.485734e+07,1.485734e+07,1.485676e+07,1.485672e+07,1.485568e+07,1.485539e+07,1.485556e+07,1.485564e+07,1.485538e+07,1.485520e+07,1.485506e+07,1.485503e+07,1.485565e+07,1.485565e+07,1.498241e+07,NaN,NaN
min,NaN,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+01,NaN,NaN
25%,NaN,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,2.222500e+04,1.921000e+04,1.921000e+04,1.921000e+04,1.921000e+04,1.921000e+04,1.921000e+04,1.921000e+04,1.921000e+04,1.921000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,1.828000e+04,2.251750e+04,NaN,NaN
50%,NaN,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.967100e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.968500e+05,1.918000e+05,1.918000e+05,1.918000e+05,1.918000e+05,1.918000e+05,1.918000e+05,1.918000e+05,1.918000e+05,1.918000e+05,1.837800e+05,1.837800e+05,1.837800e+05,1.835900e+05,1.835700e+05,1.835700e+05,1.836300e+05,1.836400e+05,1.836400e+05,1.836400e+05,1.836300e+05,1.836300e+05,1.836300e+05,1.836300e+05,1.836300e+05,1.836300e+05,1.836300e+05,1.836300e+05,1.946900e+05,NaN,NaN
75%,NaN,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.233445e+06,1.216640e+06,1.216640e+06,1.216640e+06,1.216640e+06,1.216640e+06,1.216640e+06,1.216640e+06,1.216640e+06,1.216640e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.226818e+06,NaN,NaN
max,NaN,1.273331e+08,1.273331e+08,1.273331e+08,1.273331e+08,1.273331e+08,1.273331e+08,1.273330e+08,1.273330e+08,1.273330e+08,1.273330e+08,1.273330e+08,1.273329e+08,1.273328e+08,1.273324e+08,1.273319e+08,1.273317e+08,1.273315e+08,1.273315e+08,1.273315e+08,1.273312e+08,1.273313e+08,1.273311e+08,1.273310e+08,1.273296e+08,1.273295e+08,1.273296e+08,1.273295e+08,1.273295e+08,1.273285e+08,1.273285e+08,1.273304e+08,1.273304e+08,1.273267e+08,1.273150e+08,1.273120e+08,1.273116e+08,1.273809e+08,1.273549e+08,1.273617e+08,1.273755e+08,1.273743e+08,1.273722e+08,1.273720e+08,1.273703e+08,1.273703e+08,1.273662e+08,1.273660e+08,1.273499e+08,1.273483e+08,1.273506e+08,1.273512e+08,1.273474e+08,1.273463e+08,1.273450e+08,1.273444e+08,1.273546e+08,1.273546e+08,1.273432e+08,NaN,NaN

Ada 3 buah kolom yg bernilai NaN pada semua barisnya, yakni 1960, 2019, dan unnamed: 64. 

Ketiga kolom tsb dapat langsung dihilangkan secara permanen.

In [6]:
df0.drop(['1960','2019','Unnamed: 64'], axis=1, inplace=True)

df0.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Land area (sq. km),AG.LND.TOTL.K2,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0
1,Afghanistan,AFG,Land area (sq. km),AG.LND.TOTL.K2,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0
2,Angola,AGO,Land area (sq. km),AG.LND.TOTL.K2,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0
3,Albania,ALB,Land area (sq. km),AG.LND.TOTL.K2,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0
4,Andorra,AND,Land area (sq. km),AG.LND.TOTL.K2,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0

In [7]:
df0['Country Name'].value_counts()

Aruba                                     1
Other small states                        1
Malaysia                                  1
North America                             1
Namibia                                   1
                                         ..
High income                               1
Hong Kong SAR, China                      1
Honduras                                  1
Heavily indebted poor countries (HIPC)    1
Zimbabwe                                  1
Name: Country Name, Length: 264, dtype: int64

In [8]:
df0['Country Code'].value_counts()

ABW    1
OSS    1
MYS    1
NAC    1
NAM    1
      ..
HIC    1
HKG    1
HND    1
HPC    1
ZWE    1
Name: Country Code, Length: 264, dtype: int64

In [9]:
df0['Indicator Name'].value_counts()

Land area (sq. km)    264
Name: Indicator Name, dtype: int64

In [10]:
df0['Indicator Code'].value_counts()

AG.LND.TOTL.K2    264
Name: Indicator Code, dtype: int64

Kolom Indicator Name dan Indicator Code adalah kolom yg tidak berguna karena hanya memiliki 1 value unik.

Kedua kolom tsb dapat dihapus secara permanen.

In [11]:
df0.drop(['Indicator Name','Indicator Code'], axis=1, inplace=True)

df0.head()

,Country Name,Country Code,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.0
1,Afghanistan,AFG,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0,652860.0
2,Angola,AGO,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0
3,Albania,ALB,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0,27400.0
4,Andorra,AND,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0,470.0

In [12]:
df0.isna().sum()

Country Name    0
Country Code    0
1961            9
1962            9
1963            9
1964            9
1965            9
1966            9
1967            9
1968            9
1969            9
1970            9
1971            9
1972            9
1973            9
1974            9
1975            9
1976            9
1977            9
1978            9
1979            9
1980            9
1981            9
1982            9
1983            9
1984            9
1985            9
1986            9
1987            9
1988            9
1989            9
1990            9
1991            5
1992            5
1993            5
1994            5
1995            5
1996            5
1997            5
1998            5
1999            5
2000            3
2001            3
2002            3
2003            3
2004            3
2005            3
2006            3
2007            3
2008            3
2009            3
2010            3
2011            3
2012            3
2013            3
2014            3
2015            3
2016            3
2017            3
2018            8
dtype: int64

Missing Value pada dataset ini tidak terlalu banyak.

Maksimal hanya berjumlah 9 di tiap kolomnya